DATABASE_URL="postgres://postgres:test@postgres:5432/main?sslmode=disable"
BROKER_URL="redpanda:9092"

#use it for your docker containers
HOST_CONFIG_PATH="./config/sample.yaml"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="test"
POSTGRES_DB="main"
POSTGRES_PORT="5432"

BROKER_PORT="9093"

